@*@{
    ViewBag.Title = "About";
}
*@

    <h3>What is FoodProvider?</h3>
    <p>
        FoodProvider is a website and application for food-providing/food-order Booking.
    <br />
        FoodProvider can be used to Book food facilities to an event.
    </p>

    <br />
    FoodProvider is built on the following:
  <br />
    <div class="larger"> 1. Admin/User </div> 
  
    We always strive to provide you with a great experience while using our website.
  <br />
    Switch to Fullscreen mode and enjoy the pictures, taken by  Anand Thites collection  from Pune.
  <br />
    Please Contact Us and let us know of any features you're looking for.
    <br />
    <br />

        <div class="larger"> 2. Environment</div>  
    We care about our Helth, and want to provide whatever it takes for a user to smoothly searve food, and let then enjoy the Indian Food.

    <br />
    <br />
   <div class="larger" >
       <img src="~/Images/foodImage-1.jpg" />
    @*<img src="~/Images/foodImage.JPG" /> *@
   </div>
    <div class="larger"> 3. Social Integration</div>
    We provide a deep integration with commonly used social websites, to help you to identify people you know at a time of Online Booking.
      <br />
      <br />
    Getting and giving Food  to strangers is dangerous, and we identify if the person is a contact, or not.
    <br />
    Always be cautious while giving/booking Food.
    <br />
    <br />